.metadata
*.iml
out/
*.ipr
*.iws
classpath.txt
version.properties
.project
.classpath
lib/*
build/*
generated-files/*
generated-sources/*
generated-code/*
*.swp
*.swo
target
.idea
.lib
atlassian-ide-plugin.xml
.DS_Store
packages/
.pub
.packages
.vagrant/

.settings
RemoteSystemsTempFiles
*.mustache~
*.java~
*.pm~
*.xml~
*.t~

/target
/generated-files
/nbactions.xml


# nodejs
**/node_modules



# C#
*.csproj.user

# Python
*.pyc
__pycache__


