* {
	font-family: calibri;
	font-size: 10pt;
	color: #606060;
}

body {
	background-color: #fafafa;
}

.box {
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
    padding: 10px;
    margin-top: -1px;
}

.buttons {
	overflow: hidden;
}

.buttons button {
	float: left;
	margin-right: 4px;
}

.insert-job {
	width:100%;
	height: 100%;
	background-color: #f8f8ff;
	padding: 20px;
	overflow: hidden;
}

.insert-job .label {
	width: 100px;
	float:left;
	clear:left;
}

.insert-job .fimput {
	width: 500px;
	float:left;
	clear:right;
}

.workers table  {
	border-collapse: collapse;
}

.workers td {
	border:1px solid gray;
	padding: 1px 10px;
	font-size: .9em;
}

.db.operation {
	overflow: hidden;
}
.db.operation .cell {
	float: left;
	width:26%;
	overflow: hidden; 
}


button.refresh {
	background: rgb(198,198,198);
	background: linear-gradient(90deg, rgba(198,198,198,1) 0%, rgba(198,198,198,1) 35%, rgba(240,240,240,1) 38%);
	border-radius: 4px;
}